@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*:not(select) {
  /* font-family: 'Ubuntu'; */
  color: white;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.righteous {
  font-family: 'Righteous';
}

.righteous-35 {
  font-family: 'Righteous';
  font-size: 3.5em;
}

.bg-darkBlue {
  background-color: #04050f;
}

.txt-darkBlue {
  color: #0b0f1a;
}

.roundedCorner {
  border-radius: 25px;
}

.homepageImage {
  position: relative;
  height: 88vh;
  object-fit: cover;
}

.homepageText {
  font-family: 'Righteous';
  font-size: 3em;
  /* margin-left: 300px; */
  padding-left: 20%;
  padding-top: 50px;
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
  margin: 0 auto;
  width: 300px;
  height: 50px;
}

/* -------- TOGGLE SWITCH ------- */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  margin: 0 10px;
}
.toggle-switch input[type='checkbox'] {
  display: none;
}
.toggle-switch .switch {
  position: absolute;
  cursor: pointer;
  background-color: #8facca;
  border-radius: 25px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: background-color 0.2s ease;
}
.toggle-switch .switch::before {
  position: absolute;
  content: '';
  left: 2px;
  top: 2px;
  width: 21px;
  height: 21px;
  background-color: #171c22;
  border-radius: 50%;
  transition: transform 0.3s ease;
}
.toggle-switch input[type='checkbox']:checked + .switch::before {
  transform: translateX(25px);
  background-color: #8facca;
}
.toggle-switch input[type='checkbox']:checked + .switch {
  background-color: #171c22;
}

/* ------ TATTOO GRID -------- */
.img-grid {
  object-fit: cover;
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.artist-grid:hover .img-grid {
  opacity: 0.3;
}

.artist-grid:hover .middle {
  opacity: 1;
}

/* ------- STUDIO PAGE -------- */
.artist-image {
  object-fit: cover; /* Do not scale the image */
  width: 100%;
}

/* --------- PROFILES ---------- */
/* .profileMainBlock {
margin-top: 3;

} */

/* ------- ALL ARTISTS -------- */
.allArtistsOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background: linear-gradient(to bottom right, #ff5959, #5bbaf9);
}

.allArtistsInformation {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .allArtistsOverlay {
  opacity: 0.8;
}

/*       className="col-md-10 col-md-10 offset-md-1 col-lg-5 offset-lg-0 mt-3 card mb-3 bg-dark border-4 border border-white"
      style={{ height: '86vh', overflowX: 'auto', borderRadius: '15px' }} */
